* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 1000px;
  background: #efefef;
}

.wrapper h1 {
  color: green;
  text-align: center;
  padding: 2rem 0 0 0;
}

.box {
  width: 300px;
  height: 300px;
  background: red;
  margin: 0 auto;
  position: relative;
  top: 30px;
  box-shadow: 10px 10px 20px 10px #ddd;
  border: 0.2rem solid #ffffff;
}

.inner-box {
  width: 70%;
  height: 70%;
  background-image: url(../images/green_grass.jpg);
  background-size: cover;
  position: absolute;
  top: 15%;
  left: 15%;
  transform: rotate(45deg);
}

.circle {
  width: 60%;
  height: 60%;
  background: red;
  position: absolute;
  left: 20%;
  top: 20%;
  border-radius: 50%;
}
